<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログインフォーム</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="formContainer">
        <form id="loginForm">
            <h1>ログインフォーム</h1>
            <hr />
            <div class="uiForm">
                <div class="formField">
                    <label>ユーザー名</label>
                    <input type="text" id="username" name="username" placeholder="ユーザー名">
                </div>
                <p class="errorMsg" id="usernameError"></p>
                <div class="formField">
                    <label>メールアドレス</label>
                    <input type="text" id="mailAddress" name="mailAddress" placeholder="メールアドレス">
                </div>
                <p class="errorMsg" id="mailAddressError"></p>
                <!-- <div class="formField">
                    <label>パスワード</label>
                    <input type="password" id="password" name="password" placeholder="パスワード">
                </div>
                <p class="errorMsg" id="passwordError"></p> -->
                <button type="submit" class="submitButton">登録</button>
                <div class="msgOk" id="successMessage" style="display:none;">ログインに成功しました</div>
            </div>
        </form>
    </div>
    <script src="login.js"></script>
</body>
</html>
