<%- include('layouts/layout', { title: '過去の活動', body: `

<main class="container my-5">
    <h1 class="text-center">過去の活動一覧</h1>
    <br>
    <div class="list-group">
        <div class="list-group-item">
            <h5 class="mb-1">Hill Top工場見学</h5>
            <br>
            <p class="mb-1">
            7月4日に、京都の宇治市にある株式会社HILLTOPさんを訪れ、私たち三年生にとっては初めての工場見学を行いました。
            HILLTOPは鉄工所でありながら、「量産ものはやらない」「ルーティン作業はやらない」「職人はつくらない」といった型破りなスローガンを掲げています。昼に設計図をプログラム化し、夜に無人で機械を動かすことで高収益を生み出しているユニークな会社です。技術力が認められ、NASAやディズニーにも商品を提供し、アメリカにも会社を展開しています。
            工場見学や講演会を通じて、多品種少量生産を実現する技術面が優れているだけでなく、社内の雰囲気を知ることができ、家具の配置など一つ一つのものが意味づけられている面白い・自由な会社だと改めて感じることができました。
            HILLTOPさん貴重なお時間をありがとうございました。
            </p>
        </div>
        <br>
        <div class="list-group-item">
            <h5 class="mb-1">田口ゼミ説明会</h5>
            <br>
            <p class="mb-1">
                2回生向けにゼミの説明会を行いました。
            </p>
        </div>
    </div>
</main>
` }) %>