.formContainer {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #aaa;
}

.uiForm {
    margin-top: 20px;
}

.formField {
    margin-bottom: 15px;
}

.formField label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formField input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.errorMsg {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color: #F8B500;
    color: 333333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #F8B500;
}

.msgOk {
    color: 333333;
    font-size: 0.9em;
    margin-top: 10px;
}
